html {font-size:10px}
* {box-sizing:border-box;}
body {font-size:1.5rem}
a {text-decoration:none;}
.header {background:#00FFFF}
.container {max-width:1400px;
          background:#003900;
          margin:0 auto;
          position:relative;
          height:50px;
          padding:10px 0;}
.logo {position:absolute;
        top:0;left:0;
        margin:0;
        padding:0 0 0 20px;}
.nav {text-align:right;}
ul {list-style:none;}
.list-item{display:inline;}
header a {color:white;padding:10px;}
header a:hover {color:#669999}


.main {background:yellow}
.hero {background:#ffebcd}
.main-content {background:#A52A2A;
            float:left;width:70%}
.side-content {background:#6495ED;float:left;width:30%}
.footer {background:#7FFF00}
